*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}
	
body,button,input,select,textarea{
    font-family: 'Microsoft YaHei', Tahoma, Helvetica, Arial, sans-serif;
}
	

h1, h2, h3, h4, h5, h6{
    font-size: 100%;
	font-style: normal;
}

img{
    display: inline-block;
}
	

ul, ol{
    list-style: none;
    display: inline-block;
}
	
a {
    text-decoration: none;
	outline: none;
}
    
.yellow{
    background-color:yellow;
}